<div [formGroup]="taskForm">
    <div class="task-line">
        <mat-form-field class="task-input">
            <mat-label>Task description</mat-label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>

        <mat-form-field class="due-date-input">
            <mat-label>Due Date:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div>
        <b>
            This task is has a:
        </b>
        <mat-radio-group aria-label="Priority" formControlName="priority" class="task-radio">
            <mat-radio-button value=1 class="radio-inputs"  color="primary">very low</mat-radio-button>
            <mat-radio-button value=2 class="radio-inputs"  color="primary">low</mat-radio-button>
            <mat-radio-button value=3 class="radio-inputs"  color="primary">neutral</mat-radio-button>
            <mat-radio-button value=4 class="radio-inputs"  color="primary">high</mat-radio-button>
            <mat-radio-button value=5 class="radio-inputs"  color="primary">critical</mat-radio-button>
        </mat-radio-group>
        <b>
            priority!
        </b>
    </div>

    <div class="button-row">
        <button class="task-submit" (click)="saveTask()">Confirm</button>
        <button class="task-clear" (click)="clearTask()">Clear</button>
    </div>
</div>