<div class="tasks">
	<app-create-task (onCreate)="getTasks()" #createTask></app-create-task>

	<input 
		type="text"
		name="searchTask"
		placeholder="Search for a task..."
		class="task-input"
		[(ngModel)]="taskSearch"
		(keyup)="filterTasks()"
	/>

	<div *ngFor="let task of filteredTasks; let i = index;" class="task {{ (task.completed ? 'done' : '') }}">
		<div class="id">{{ task.id }}</div>
		<div class="content" (click)="toggleDone(task.id)">{{ task.description }}</div>
		<button class="delete" (click)="deleteTask(task.id)">Remove</button>
		<button class="edit" (click)="editTask(task.id)">Edit</button>
	</div>
</div>